<html>
	<head>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
	</head>
	<body>
	<h1><%= message %></h1>
				<nav class="navbar">
			
		</nav>
		<div class="container">
		<section id="section1" class="panel panel-default">

			<div class="panel-heading">
			<div class="container">
			<h2><a href="http://localhost:8080/">powrót do menu gł.</a></h2>
			
	    		</div>
		  	</div>
	  		<div class="panel-body">
		
	</body>
</html>
